.red {
  background-color: red;
  border: 5px solid white;
}

.flashred {
  background-color: darkred;
}

.yellow {
  border: 5px solid white;
  background-color: yellow;
}

.flashyellow {
  background-color: darkkhaki;
}

.blue {
  border: 5px solid white;
  background-color: blue;
}

.flashblue {
  background-color: darkblue;
}

.green {
  border: 5px solid white;
  background-color: green;
}

.flashgreen {
  background-color: darkgreen;
}

.pageheader {
  text-align: center;
}

#red {
  height: 200px;
  width: 200px;
}

#red:hover {
  border: 5px solid black;
  cursor: pointer;
}

#yellow{
  height: 200px;
  width: 200px;
}

#yellow:hover {
  border: 5px solid black;
  cursor: pointer;
}

#blue{
  height: 200px;
  width: 200px;
}

#blue:hover {
  border: 5px solid black;
  cursor: pointer;
}

#green{
  height: 200px;
  width: 200px;
}

#green:hover {
  border: 5px solid black;
  cursor: pointer;
}

#game-over {
  display: none;
}
